@tailwind base;
@tailwind components;
@tailwind utilities;

.ymaps-2-1-79-islets_round-button.ymaps-2-1-79-islets__icon_only .ymaps-2-1-79-islets_round-button__icon {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}